@import 'tailwindcss';
@import '../styles/fonts/FacebookSans/index.css';
@import '../styles/fonts/Poppins/index.css';
@import '../styles/fonts/ComicSans/index.css';
@import '../styles/classes.css';                         
@import '../styles/colors.css';

body {
    font-family: 'Poppins';
    background: #060010;
    color: white;
    padding-top: 70px;
    padding-bottom: 100px;
}

.comic {
    font-family: 'Comic Sans MS';
}

* {
    transition: .3s !important;
}